.container{
    background-color: rgb(181, 145, 71);
    margin-bottom: 30px;
  }
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
.btn:active {
    transform: translateY(1px);
  }  