<div class="container rounded shadow mt-5 bg-light" style="background-color: #FFF8F0; " >
    <div class="row align-items-center">
      <!-- Text Section -->
      <div class="col-md-6 p-5">
        <h1 class="text-dark">Discover Moments on the Wall</h1>
        <p class="text-dark">Explore 100+ stunning visuals at your fingertips with effortless navigation. PicsWall helps you find inspiration in every frame.</p>
        <button class="btn" [routerLink]="'/gallery'">Explore our gallery</button>
      </div>
  
      <!-- Image Section -->
      <div class=" col-md-6 p-5 text-center">
        <img
          class="landingImg img-fluid"
          src="https://purepng.com/public/uploads/large/purepng.com-camera-lenselectronicscameralens-941524680640h5m7p.png"
          alt="camera lens "
          style="max-height: 535px; object-fit: cover;"
        />
      </div>
    </div>
  </div>

